
  mat-toolbar {
    background: #004a9f;
    color: white;
  }

  mat-sidenav {
    margin: 1.6rem;
    width: 20rem;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 1rem;
    padding: 1.6rem;
    text-align: center;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.content{
  height: calc(100vh - 9.8rem);
  margin: 1.6rem;
  margin-left: 3.2rem;
  //display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

  mat-sidenav-container{
    height: calc(100vh - 6.4rem);
  }

  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;

    mat-icon {
      margin-right: 0.8rem;
    }
  }

  .name {
    margin: 0;
    margin-top: 0.8rem;
    font-weight: normal;
  }

  .designation {
    margin-top: 0.2rem;
    font-size: 1.1rem;
    color: lightgray;    
  }

  mat-divider{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    background-color: rgba(255, 255, 255, 0.5);
  }

.example-spacer {
    flex: 1 1 auto;
  }

  .avatar{
    border-radius: 100%    ;
    -webkit-border-radius: 100%    ;
    -moz-border-radius: 100%    ;
    -ms-border-radius: 100%    ;
    -o-border-radius: 100%    ;
}


