
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$proyectoP3v2-primary: mat.define-palette(mat.$indigo-palette);
$proyectoP3v2-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$proyectoP3v2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$proyectoP3v2-theme: mat.define-light-theme((
  color: (
    primary: $proyectoP3v2-primary,
    accent: $proyectoP3v2-accent,
    warn: $proyectoP3v2-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($proyectoP3v2-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html {
  box-sizing: border-box;
  font-size: 62.5%;  
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin-left: 5rem;
    margin-right: 5rem;    
}
img {
    height: 12rem;
    width: 10rem;
}